/* src/styles/globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-white bg-gray-950;
}

@keyframes dramatic-pulse {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.dramatic-pulse {
  animation: dramatic-pulse 1.3s infinite;
}